.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
}

.rechtsdies {
  margin-right: 5px;
}
.bg-primary {
  background-color: rgb(223, 223, 223) !important;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.2);
}
.row {
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
}

#navbarSupportedContent ul li a {
  padding-left: 20px;
}

.collapse ul li a {
  border-bottom: 1px solid #ddd;
}
