.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}

.rechtsdies {
  margin-right: 5px;
}
.bg-primary {
  background-color: #eee !important;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.2);
}
